body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    width: 110px;
    margin-bottom: 10px;
}

.content h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.content p {
    color: #666;
    margin-bottom: 20px;
}

.tabs {
    display: flex;
    margin-bottom: 20px;
}

.tab {
    flex: 1;
    padding: 10px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

.tab.active {
    background-color: #fff;
    border-bottom: 2px solid #007bff;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container label {
    margin-bottom: 5px;
}

.form-container input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.password-container {
    display: grid;

    margin-bottom: 20px;
}

.password-container a {
    color: #007bff;
    text-decoration: none;
}

.remember {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.remember input {
    margin-right: 5px;
}

.submit {
    background-color: #9370DB;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.social-login {
    text-align: center;
    margin-top: 20px;
}

.social-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-buttons button {
    margin: 0 5px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}

.google {
    background-color: indianred;
    color: white;
}

.linkedin {
    background-color: #0077b5;
    color: #fff;
}