 body
 {
  overflow: hidden;
 }

 .logo {
    height: 30px; /* Ajustez la hauteur pour qu'elle corresponde au texte */
    width: auto; /* Pour garder les proportions */
}
  .navbar-brand 
  {
            color: #007bff !important; /* Bleu */
  }
  
  
  .sidebar {
    position: relative;
    height: 90vh;
}

.new-discussion-btn {
    position: absolute;
    bottom: 20px;
    width: 100%;
}
.nav-link {
    font-size: 16px; /* Taille du texte */
    color: #333; /* Couleur de base */
    transition: color 0.3s ease;
    padding: 3;
    margin-left: -25px;
}

.nav-link i {
    font-size: 18px; /* Taille de l'icône */
    color: inherit; /* Hérite de la couleur du texte */
    padding-left: 0;
}

.nav-link:hover {
    color: #007bff; /* Change la couleur au survol */
}
.form-control:hover
{
  cursor: pointer;
  border: 2px solid blue;
}


.form-control {
    padding-left: 30px; /* Ajoute de l'espace à gauche pour l'icône */
    background-image: url('https://cdn.jsdelivr.net/npm/bootstrap-icons/font/icons/search.svg'); /* Utilisation d'une icône de recherche */
    background-repeat: no-repeat;
    background-position: 10px center; /* Positionne l'icône à gauche, centrée verticalement */
    background-size: 18px; /* Taille de l'icône */
}
